{
  "prometheusUrl": "http://prometheus.example.com:9090",
  "services": [
    {
      "name": "record-to-be-resolved",
      "jobName": "name-in-prometheus",
      "port": "9090",
      "path": "metrics.json"
    }
  ]
}
